
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    color:black;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

hr {
    border:1px solid rgb(74, 73, 73);
    max-width: 1200px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    gap:160px;
    
}



h2 {
    font-size: 20px;
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

p {
    margin: 10px 0;
}

div {
    margin-bottom: 20px;
}

strong {
    color: #222;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    #mainleft, #mainright {
        width: 100%;
        padding: 10px;
        border-right: none;
        border-bottom: 2px solid #ccc;
    }

    #mainright {
        border-bottom: none;
    }
}
